[Unit]
Description=GnuPG private key agent for %I
IgnoreOnIsolate=true

[Service]
Type=forking
ExecStart=/usr/bin/gpgconf --launch gpg-agent
ExecStop=/usr/bin/pkill gpg-agent
Restart=on-abort

[Install]
WantedBy=multi-user.target
